@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #1e40af;
}

body {
  background-color: #f9fafb;
}

.bg-brand {
  background-color: var(--brand-color);
}

.text-brand {
  color: var(--brand-color);
}
